<div>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr *ngIf="headerColumns">
            <th *ngFor="let headerColumn of headerColumns">{{ headerColumn.title }}</th>
            <th></th>
        </tr>
      </thead>
      <tbody *ngIf="tableRows">
          <tr *ngFor="let tableRow of tableRows">
              <td>{{ tableRow.notes }}</td>
              <td>{{ tableRow.label }}</td>
              <td>{{ tableRow.retentionPeriod }}</td>
              <td>{{ tableRow.leaveStarredEmail }}</td>
              <td>{{ tableRow.leaveImportantEmail }}</td>
              <td>
                <a routerLink="/userCodeAppPanel/detail/{{tableRow.label}}" class="btn btn-primary">Edit</a>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
