<!-- dialog.component.html -->
<div class="modal fade" bsModal #lgModal="bs-modal" id="sampleModal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="lgModal.hide()"><span>×</span></button>
        <h4 class="modal-title">テスト</h4>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="dialogData">
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-default" (click)="lgModal.hide()" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-info" (click)="onClose()" data-dismiss="modal">決定</button>
      </div>
    </div>
  </div>
</div>